menu {
    background-color: white;
    margin-top: 0px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}


body {
    background-color: #ffffff;
    color: grey;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right, #bdc6c8, #bdc6c8, #bdc6c8, #bdc6c8);
    text-align: right;
    color: black;
    font-size: 12px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    border-bottom-right-radius: 50px 60px;
    height: 80px;

}

main {
    margin: 10px 20px;
}

footer {
    position: absolute;
    background-color: #bdc6c8;
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: right;
    position: relative;
    top: 25%;
    border: 5px solid;
    border-radius: 0 0 20px 20px;
}


a:hover {
    color: red;
    background-color: white;
    transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
    transition: 50ms linear;
    transition-property: all;
}


